body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* #borderlis {
    padding: 15px 0 15px;
} */
@media (max-width: 576px) {
    #slip-page {
        font-size: 1rem;
    }

    .fs-5 {
        font-size: 1.5rem !important;
    }
    .fs-6 {
        font-size: 1rem !important;
    }
    .qrcode {
        height: 100px !important;
    }

    .tab-panel {
        padding: 15px 0px 15px !important;
        border-top: 1px solid #ccc;
    }
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 10mm;
    }

    #slip-page {
        font-size: 0.8rem;
    }

    nav {
        display: none;
    }

    .content-header {
        display: none;
    }

    #label {
        display: none;
    }

    .navbar {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-nav {
        display: none;
    }

    #tombol {
        display: none;
    }

    main {
        min-height: unset;
        margin-top: -95px;
        padding-left: 0;
        padding-right: 0;
    }

    .card-header {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background-color: rgb(187, 187, 187);
    }

    .qrcode {
        height: 75px !important;
    }

    /* .border {
        border: 0.1px solid rgb(155, 155, 155) !important;
    } */

    .border #borderlis {
        border: none !important;
    }

    .tablinks {
        display: none;
    }

    .tabcontent {
        display: none;
    }
    #tabs {
        display: none;
    }
}
